[Desktop Entry]
Type=Application
Name=Implenia Kiosk
Exec=chromium-browser --kiosk --app=http://localhost:3000 --disable-infobars --noerrdialogs --disable-session-crashed-bubble --disable-translate
X-GNOME-Autostart-enabled=true
